* {
    box-sizing: border-box;
}

.bigtitle {
    width: 100%;
    height: 500px;
    background-image: url(../img/brand.png);
    background-size: cover;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.bigtitle > h2 {
    width: 700px;
    font-size: 100px;
    padding-top: 100px;
    border-bottom: 1px solid #fff;
    margin: auto;
    position: relative;
    left: -900px;
    opacity: 0;
}

.bigtitle > p {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    right: -900px;
    opacity: 0;
}

.subnav {
    width: 1920px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 9;
}

.subnav > ul {
    width: 1440px;
    margin: auto;
    display: flex;
}

.subnav .home {
    border-right: 1px solid #c41230;
    width: 60px;
    height: 60px;
    padding-top: 20px;

}

.subnav .home > a {
    display: block;
}

.subnav .home > a > img {
    display: block;
    line-height: 60px;
    margin: auto;

}



.menu1_main {
    width: 369px;
    height: 60px;
    text-align: left;
    border-right: 1px solid #c41230;
    cursor: pointer;
}

.menu1_main > h3 {
    font-size: 20px;
    line-height: 60px;
    padding-left: 20px;
}

.menu1_main > h3::after {
    content: '';
    width: 15px;
    height: 9px;
    display: inline-block;
    background-image: url('../img/downarrow.png');
    background-repeat: no-repeat;
    margin-left: 250px;
}

.menu1 {
    display: none;
    width: 369px;
    text-align: left;
    font-size: 20px;
    background-color: #fff;
}

.menu1 > li {
    padding: 5px 0;
    padding-left: 20px;
    text-align: left;
}

.menu1 > li:hover {
    background-color: #c41230;
    color: #fff;
}

.menu1_main:hover:after {
    transform: scaleX(1);
}

.menu1_main:after {
    display: block;
    content: '';
    border-bottom: solid 5px #c41230;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top: -5px;
}

.menu1_main:after {
    transform-origin: 0% 50%;
}





.menu2_main {
    width: 369px;
    height: 60px;
    text-align: left;
    border-right: 1px solid #c41230;
    cursor: pointer;
}

.menu2_main:hover:after {
    transform: scaleX(1);
}

.menu2_main:after {
    display: block;
    content: '';
    border-bottom: solid 5px #c41230;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top: -5px;
}

.menu2_main:after {
    transform-origin: 0% 50%;
}

.menu2_main > h3 {
    font-size: 20px;
    line-height: 60px;
    padding-left: 20px;
}

.menu2_main > h3::after {
    content: '';
    width: 15px;
    height: 9px;
    display: inline-block;
    background-image: url('../img/downarrow.png');
    background-repeat: no-repeat;
    margin-left: 200px;
}

.menu2 {
    display: none;
    width: 369px;
    text-align: left;
    font-size: 20px;
    background-color: #fff;
}

.menu2 > li {
    padding: 5px 0;
    padding-left: 20px;
    text-align: left;
}

.menu2 > li:hover {
    background-color: #c41230;
    color: #fff;
}

.naviwrap {
    width: 615px;
}

.navi {
    float: right;
    display: flex;
    text-align: right;
    line-height: 60px;
}

.navi > li {
    display: flex;
    margin: 0 10px;
    text-align: right;
}



main > .cont {
    width: 1920px;
    background-size: cover;
    margin: auto;
    text-align: center;
    padding-top: 180px;
    background-repeat: repeat;
}

.titleimg {
    position: relative;
    left: -500px;
    opacity: 0;
}

.title > div > img {
    width: 300px;
}

.title > h2 {
    position: relative;
    left: -500px;
    opacity: 0;
    font-size: 32px;
    margin-top: 60px;
}

.title > .firsth3 {
    width: 500px;
    padding: 5px 20px;
    background-color: #c41230;
    font-size: 15px;
    margin: auto;
    margin-top: 10px;
    font-family: 'Noto Sans KR';
    position: relative;
    opacity: 0;
    left: -600px;
}

.title > h4 {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    opacity: 0;
    left: -600px;
}

.title > h4 > b {
    font-weight: bold;
}

.title > .secondh3 {
    border-bottom: 1px solid #fff;
    width: 475px;
    text-align: center;
    margin: auto;
    background-color: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    position: relative;
    opacity: 0;
    left: -800px;
}


.contents {
    font-size: 15px;
    width: 1440px;
    margin: auto;
    font-family: 'Noto Sans KR';
    margin-top: 100px;
}

.contents > li > ul {
    display: flex;

}

.contents > .top {
    width: 1440px;
    height: 80px;
    line-height: 80px;
    border-top: 2px solid #c41230;
    border-bottom: 1px solid #616161;
    background-color: rgba(200, 200, 200, 0.52);
    font-weight: bold;
    justify-content: space-between;
     font-family: 'Noto Sans KR';


}
.contents > li > ul >li{
 font-family: 'Noto Sans KR';
    color: #212121;

}

.contents > .middle {
    width: 1440px;
    height: 67px;
    line-height: 67px;
    font-weight: 300;
    border-bottom: 1px solid #616161;
}

.contents > .middle > ul > .title {
    text-align: left;

}

.contents > li > ul > .no {
    width: 210px;
}

.contents > li > ul > .title {
    width: 774px;
    font-weight: bold;
}

.contents > li > ul > .date {
    width: 246px;
}

.contents > li > ul > .num {
    width: 210px;
}

.contents > .bottom {
    border-bottom: 2px solid #c41230;
}

.foot {
    text-align: center;
    width: 1440px;
    margin: auto;
}

.searchpage {
    margin-top: 50px;
}

.search {
    outline-style: none;
    align-items: center;
    border: none;
    border: 1px solid #c41230;
    height: 35px;
    width: 210px;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    background: url('../img/downarrow.png') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.searchpage > input {
    border: 1px solid #c41230;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    outline-style: none;
    height: 35px;
    width: 621px;
    margin-left: 15px;
}

.searchpage > button {
    width: 87px;
    height: 35px;
    border: none;
    background-color: #c41230;
    font-family: 'Noto Sans KR';
    margin-left: 15px;
    cursor: pointer;
}

.page {
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 500px;
}

.page > p {
    display: flex;
}

.page > span {
    display: flex;
    margin: 0 50px;
}

.page > span > a {
    margin: 0 10px;
}

.quick{
    bottom: 300px;
}



@media only screen and (max-width: 1440px) {
    .subnav {
        width: 100%;
    }

    .subnav > ul {
        width: 100%;
    }

    .naviwrap {
        display: none;
    }

    .subnav .home {
        display: none;

    }


    main>.cont {
        width: 100%;
        margin: auto
    }

    .bigtitle {
        width: 100%;
    }

    .bigtitle > h2 {
        width: 90%;
    }

    .title {
        width: 90%;
         margin: auto;
    }

    .title > .firsth3 {
        width: 90%;
    }

    .title > .secondh3 {
        width: 90%;
    }


    .contents {
        width: 90%;
    }

    .contents > .top {
        width: 100%;
    }
    .contents .title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .contents > .middle {
        width: 100%;
    }

    .foot {
        width: 90%;
        
    }

    .search {
        width: 20%;
        
    }
    .searchpage{
        justify-content: space-between;
    }

    .searchpage > input {
        width: 55%;
        margin-left: 0;
    }

    .searchpage > button {
        width: 15%;
        white-space: nowrap;
        margin-left: 0;
    }
    .page{
        flex-wrap: nowrap;
        width: 90%;
    }
    .page>span{
        margin: 0 10px;
    }
}

@media only screen and (max-width: 780px) {
    .menu1_main {
        width: 50%
    }

    .menu2_main {
        width: 50%
    }

    .menu1_main > h3::after {
        position: absolute;
        top: 25px;
        right: 55%;
    }

    .menu2_main > h3::after {
        position: absolute;
        top: 25px;
        right: 5%;
    }

    .menu1 {
        width: 100%;
    }



    .bigtitle {
        height: 300px;
    }

    .bigtitle > h2 {
        font-size: 50px;
        padding-top: 50px;
    }

    .bigtitle > p {
        font-size: 15px;
    }

    main > .cont > .title > div > img {
        width: 200px;
    }

    .title > h4 {
        font-size: 15px;
        margin-top: 30px;
    }
    .page{
        justify-content: space-between;
        margin-bottom: 700px;
    }
    footer{
        padding-top: 300px;
    }
    .quick{
        bottom: 1000px;
    }
}

@media only screen and (max-width: 400px) {
/*
    
    title > div > img {
        width: 350px;
    }

    .title > h2 {
        font-size: 32px;
    }

    .title > .firsth3 {
        font-size: 24px;
    }

    .title > h4 {
        font-size: 20px;
    }
*/

    .contents > li > ul > .num {
        display: none;
    }
     .quick{
        bottom: 900px;
    }
}
    footer{
        padding-top: 200px;
    }
}
